*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

:root {
  --bg-main: rgb(21, 35, 44);
  --fg-main: rgb(228, 195, 135);
  --fg-secondary: silver;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--fg-main);
  background-color: var(--bg-main);
  font-size: 24px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: min-content min-content 1fr min-content;
  grid-template-areas:
    "header header header header"
    "input input input input"
    ". main main ."
    ". settings settings .";
}

.page_header {
  grid-area: header;
  font-family: "IBM Plex Serif";
  text-align: center;
  font-weight: 700;
  padding-top: 2rem;
  padding-bottom: 3.2rem;
}
.think {
  position: relative;
  z-index: 7;
}
.think::before {
  content: " ";
  position: absolute;
  z-index: 8;
  background-color: var(--bg-main);
  width: 100%;
  height: 36%;
  top: 0;
  left: 0;
}
.think::after {
  --size: 0.2em;
  content: " ";
  position: absolute;
  z-index: 9;
  top: 16%;
  left: 20%;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: rgb(170, 0, 0);
}

#input {
  grid-area: input;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main_input {
  background-color: var(--bg-main);
  width: 15rem;
  border: none;
  border-bottom: 2px solid var(--fg-main);
  transition: all 0.2s ease-in;
  color: var(--fg-main);
  font-size: 1rem;
  line-height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 0.5rem;
}
.main_input::placeholder {
  color: var(--fg-secondary);
}
.main_input:focus {
  border: 2px solid var(--fg-main);
  border-radius: 1rem;
}
.main_input:focus::placeholder {
  color: var(--bg-main);
}

.list_wrap {
  grid-area: main;
  overflow-y: auto;
  padding: 2rem;
  list-style-type: none;
}
.todo_item {
  padding-left: 1.5rem;
  margin-top: 1rem;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.done {
  text-decoration: line-through;
}
.done::before {
  content: " ";
  position: absolute;
  height: 100%;
  width: 1rem;
  background-image: url(./icons/done-white-18dp.svg);
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
}
.delete_forever {
  margin-right: 1.35rem;
}
.archived {
  color: var(--fg-secondary);
}
.archived.done::before {
  display: none;
}

.submit_btn {
  border: none;
  background-color: inherit;
  color: var(--fg-main);
  background-image: url(./icons/add_circle-white-18dp.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 2rem;
  height: 2rem;
}

.submit_btn:hover {
  cursor: pointer;
}

.settings_wrap {
  grid-area: settings;
  height: 50px;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.settings_wrap__text {
  font-size: 1rem;
  padding-right: 0.5rem;
}

/* Swich button settings */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--fg-secondary);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: var(--bg-main);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--fg-main);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--fg-main);
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (orientation: portrait) {
  body {
    font-size: 20px;
    grid-template-areas:
      "header header header header"
      "input input input input"
      "main main main main"
      "settings settings settings settings";
  }
}
